@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Ubuntu+Sans+Mono:wght@500&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap");
@import url("styles/variables.css");
@import url("styles/typografi.css");
@import url("styles/skjemaelementer.css");
@import url("styles/table.css");
@import url("styles/structure.css");

.visuelt-skjult {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
