body,
html {
  margin: 0;
  font-family: sans-serif;
}

header,
main {
  margin-inline: auto;
  max-width: 64rem;
}

header {
  margin-block-end: 4rem;
  padding-block-start: 2rem;
}

h1 {
  font-size: 1.5rem;
  margin-block: 1rem;
}

h2 {
  margin-block: 6rem 1.5rem;

  &:first-of-type {
    margin-block-start: 0;
  }
}

li {
  margin-block: 0.4rem 0.8rem;
}
