main {
  max-width: 160ch;
}

div.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 3ex 2ch;

  > div {
    padding: 2ch;
    background: var(--color-surface);
    border: 1px solid var(--color-border);
    grid-column: span 12;
    border-radius: 4px;

    @container (min-width: 60ch) {
      grid-column: span 6;
    }

    @container (min-width: 90ch) {
      grid-column: span 4;
    }

    @container (min-width: 120ch) {
      grid-column: span 3;
    }

    h3 {
      margin-block-start: 0;
    }
  }
}

select#custom-select {
  width: 100%;
  border-radius: 4px;
  background: var(--color-background);

  &,
  &::picker(select) {
    appearance: base-select;
  }

  &::picker-icon {
    font: var(--text-icon);
    content: "star" / "";
  }

  option {
    display: grid;
    align-items: center;
    gap: 0 1ch;
    grid-template-columns: 24px 1fr 40px;
    grid-template-areas:
      "check number image"
      "check name image";
    padding-block: 2ex;
    position: relative;
    background: color-mix(
      in hsl,
      attr(data-color type(<color>), currentColor) 5%,
      transparent
    );

    &:hover {
      cursor: pointer;
      background: color-mix(
        in hsl,
        attr(data-color type(<color>), currentColor) 10%,
        transparent
      );
    }

    &:not(:last-of-type)::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-block-end: 1px solid currentColor;
    }

    &::checkmark {
      font: var(--text-icon);
      content: "star" / "";
      grid-area: check;
    }

    img {
      grid-area: image;
      margin: 0;
    }

    .number,
    .name {
      line-height: 1;
    }

    .number {
      grid-area: number;
    }

    .name {
      grid-area: name;
      font-weight: bold;
    }
  }
}
