@import url("/main.css");

@view-transition {
  navigation: auto;
}

@keyframes move-out {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100px);
  }
}

@keyframes move-in {
  from {
    transform: translateY(100px);
  }
  to {
    transform: translateY(0);
  }
}

.page-scroll {
  view-transition-name: page-scroll;

  @media prefers-redused-motion {
    view-transition-name: unset;
  }
}

::view-transition-old(content) {
  animation: 0.4s ease-in both move-out;
}

::view-transition-new(content) {
  animation: 0.4s ease-in both move-in;
}
