@import url("/main.css");

.example {
  &::after {
    content: "";
  }

  &.good {
    &::before {
      content: "check_circle" / "Godt eksempel";
    }
  }

  &.bad {
    &::before {
      content: "cancel" / "Dårlig eksempel";
    }
  }
}

.principles-of-universal-design {
  h2 {
    counter-increment: principles;
    counter-reset: rules;

    &::before {
      content: counter(principles) ". ";
    }
  }

  li {
    counter-increment: rules;
    &::marker {
      content: counter(principles) "." counter(rules) " ";
    }
  }
}
