@import url("/main.css");

.example {
  &::after {
    content: "";
  }

  &.good {
    --color: var(--green);
    --color-surface: var(--green);

    &::before {
      content: "check_circle" / "Godt eksempel";
    }
  }

  &.bad {
    --color: var(--red);
    --color-surface: var(--red);

    &::before {
      content: "cancel" / "Dårlig eksempel";
    }
  }
}

.principles-of-universal-design {
  h2.principle {
    counter-increment: principles;
    counter-reset: rules;

    &::before {
      content: counter(principles) ". ";
    }
  }

  li {
    counter-increment: rules;
    &::marker {
      content: counter(principles) "" counter(rules, lower-latin) ". ";
    }
  }

  p.goal {
    &::before {
      content: "Goal: ";
    }
  }
}
