@layer component {
  /* Cards */
  section.cards,
  ul.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
    gap: 2px;
    padding: 0;

    > *:not(article) {
      grid-column: 1 / -1;
      flex-basis: 100%;
    }

    > article,
    > li {
      background-color: var(--color-bg);
      padding: 2rem;
      box-shadow: var(--box-shadow-inset-relative);

      > header {
        margin-block-end: 2rem;
        max-width: 100%;

        *:first-child {
          margin-block: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
          font: var(--body);
          font-weight: var(--fw-semibold);
        }
      }
    }

    > li {
      list-style-type: none;
    }
  }
}
