form {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  container-type: inline-size;

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3ch;
    width: 100%;
    padding: 0;
    margin-block: 3ex;
  }
}

legend {
  padding-inline: 0;
  margin-block: 0;
}

label {
  + p:not(:last-child) {
    margin-block: 0 1ex;
    color: color-mix(in oklab, currentcolor 80%, transparent);
  }
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;

  label:first-of-type {
    margin-block-start: 0;
  }
}

input {
  --border: 1px solid color-mix(in oklab, currentcolor 30%, transparent);

  font: var(--text-body);
  border: var(--border);
  border-radius: 2px;
  max-width: 100%;
  accent-color: var(--color-action);

  &:invalid {
    content: "x" / "Feil: ";
  }

  &::after {
    font: var(--text-small);
  }

  &:not([type="checkbox"], [type="radio"]) {
    min-height: 44px;
    margin-block-end: 1rem;
  }

  &[type="tel"],
  &[type="number"] {
    font: var(--text-code);
  }

  &[type="number"] {
    width: 24ch;
  }

  &[type="tel"] {
    width: calc(8ch + 44px); /* Lengden på et mobilnummer + litt space */
  }

  &[type="password"] {
    width: calc(20ch + 44px);
  }

  &[type="email"] {
    width: calc(20ch + 44px);
  }

  &[type="range"] {
    width: 100%;
    position: relative;
  }

  &[type="file"] {
    --border: 0;

    &::after {
      display: block;
      content: "Aksepterer følgende filer: " attr(accept);
      margin-block-start: 1ex;
    }
  }
}

button {
  display: flex;
  gap: 0.6ch;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
  padding: 0.3ex 2ex;
  font: var(--text-body);
  font-family: var(--font-sans-serif);
  background-color: var(--color-action);
  border-radius: 5px;
  cursor: pointer;
  color: var(--color-text-inverted);
  border: 1px solid var(--color-border);
  font-variation-settings: "wght" 500;

  &[type="reset"] {
    max-width: max-content;
    background-color: unset;
  }

  &[popovertarget] {
    &::before {
      content: "flip_to_front" / "";
      font: var(--text-icon);
    }
  }

  &[popovertargetaction="hide"] {
    &::before {
      content: "flip_to_back" / "";
      font: var(--text-icon);
    }
  }

  &:not([disabled]):hover {
    background-color: lch(from var(--color-action) l calc(c + 20) h);
  }

  &[disabled] {
    cursor: not-allowed;
    color: var(--color-text);
    background-color: transparent;
  }
}

select {
  min-height: 44px;
  padding-inline: 1ch;
  max-width: 100%;
  min-width: 44px;
}

meter,
progress {
  display: block;
  width: 100%;
  margin-block-end: 2ex;
}

textarea {
  width: 100%;
  max-width: 100%;
}
