form {
  display: flex;
  flex-direction: column;
  margin-block: 2rem;
  container-type: inline-size;

  footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3ch;
    width: 100%;
    padding: 0;
    margin-block: 3ex;
  }
}

legend {
  padding-inline: 0;
  margin-block: 0;
}

label {
  display: block;
}

fieldset {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  border: 0;

  label:first-of-type {
    margin-block-start: 0;
  }
}

input {
  font: var(--text-body);

  &:invalid {
    content: "x" / "Feil: ";
  }

  &:not([type="checkbox"], [type="radio"]) {
    min-height: 44px;
    margin-block-end: 1rem;
  }

  &:is([type="tel"], [type="number"]) {
    font: var(--text-code);
    font-variant: tabular-nums;
  }

  &[type="tel"] {
    max-width: calc(8ch + 44px); /* Lengden på et mobilnummer + litt space */
  }

  &[type="password"] {
    max-width: calc(20ch + 44px);
  }

  &[type="email"] {
    max-width: calc(20ch + 44px);
  }

  &[type="range"] {
    width: 100%;
    position: relative;

    &::after {
      display: block;
      position: absolute;
      inset-block-end: -1ex;
      font: var(--text-small);
      content: "Minst " attr(min) ". Max " attr(max);
    }
  }

  &[type="file"] {
    &::after {
      display: block;
      content: "Aksepterer følgende filer: " attr(accept);
      margin-block-start: 1ex;
    }
  }

  &[type="date"] {
    &::after {
      display: block;
      content: "Velg datoer fra " attr(min) " til " attr(max);
    }
  }
}
