ul,
ol {
  &.cards {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
  }

  li {
    max-width: var(--text-length);
    margin-block-end: 1ex;

    ul,
    ol {
      margin-block: 2ex 3ex;
    }
  }
}

ol {
  counter-reset: level-1;

  li {
    counter-increment: level-1;

    ol {
      counter-reset: level-2;

      li {
        counter-increment: level-2;

        &::marker {
          content: counter(level-1) "." counter(level-2) ". ";
        }
      }
    }
  }
}

dl {
  margin: 5ex 0;
  counter-reset: terms;

  dd,
  dt {
    padding: 0;
    margin: 0;
  }

  dt {
    margin-block: 5ex 1ex;
    counter-increment: terms;
    font-variation-settings: "wdth" 90, "wght" 700;

    &::before {
      content: counter(terms) " ";
    }

    &:not(:first-of-type) {
      padding-block-start: 2.5ex;
      margin-block-start: 2.5ex;
      border-block-start: 1px solid currentcolor;
    }
  }

  dd {
    margin-block-start: 2ex;
  }

  @container (min-width: 66ch) {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    gap: 3rem;
    align-items: start;

    dt {
      grid-column: 1 / 2;
      margin-block: 0;

      &:not(:first-of-type) {
        padding-block: 0;
        margin-block: 0;
        border-block-start: 0;
      }
    }

    dd {
      grid-column: 2 / 3;
      margin-block: 0;
    }
  }
}
