ul,
ol {
  margin-block-end: 5ex;

  li {
    max-width: var(--text-length);
    margin-block-end: 1ex;
  }
}

ul {
  &.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    list-style: none;
    padding: 0;
    gap: 3ex 2ch;

    > li {
      padding: 2ch;
      background: var(--color-surface);
      border: 1px solid var(--color-border);
      border-radius: 4px;

      h3 {
        margin-block-start: 0;
      }
    }
  }

  &.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1ch;
    list-style: none;
    padding: 0;

    > li {
      background-color: var(--color-surface);
      padding: 0.1ex 1ch;
      border: 1px solid var(--color-border);
      border-radius: 999999px;
      min-width: 5ch;
      text-align: center;

      &::before {
        content: "#";
      }
    }
  }
}

ol.timeline {
  &,
  ol {
    list-style: none;
  }

  padding: 0;

  li {
    margin-block: 3ex;
  }
}

dl {
  margin-block: 5ex;

  dt {
    font-variation-settings: "wdth" 100, "wght" 700;
  }
}
