@import url("typografi.css");
@import url("components.css");

@layer default, component, page;

@layer default {
  :root {
    color-scheme: light dark;

    --green: oklch(0.75 0.1597 147.47);
    --red: oklch(0.62 0.2097 27);
    --yellow: oklch(0.93 0.24 110.29);
    --blue: oklch(0.5 0.8 250);

    --color-bg: light-dark(
      lch(from var(--green) 98 2 h),
      lch(from var(--green) 1 2 h)
    );
    --color-bg-surface: light-dark(
      lch(from var(--color-bg) 100 c h),
      lch(from var(--color-bg) 4 c h)
    );
    --color-border: light-dark(
      lch(from var(--color-bg) 90 c h),
      lch(from var(--color-bg) 14 c h)
    );

    --color-text: light-dark(
      lch(from var(--color-bg) 2 c h),
      lch(from var(--color-bg) 98 c h)
    );
    --color-text-muted: light-dark(
      lch(from var(--color-text) 2 c h / 0.76),
      lch(from var(--color-text) 98 c h / 0.85)
    );
    --color-link: light-dark(
      lch(from var(--color-bg) 55 50 h),
      lch(from var(--color-bg) 75 70 h)
    );

    --border: 1px solid var(--color-border);
    --border-outset: 1px outset var(--color-border);

    --outline: 1px solid var(--color-border);
    --outline-dashed: 1px dashed var(--color-border);

    --box-shadow-inset: inset 0Q 0Q 2Q 1Q var(--color-border);
    --box-shadow-inset-relative: inset 0cqmin 0cqmin 9cqmin 1px
      var(--color-bg-surface);

    --filter-overlay: blur(10px);

    --text-length: 55ch;
    --padding-inline: 2rem;
    --max-width: calc(var(--text-length) + var(--padding-inline));

    --sans: system-ui;
    --mono: monospace;

    --fw-thin: 200;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    --lh-1: 1;
    --lh-sm: 1.2;
    --lh-md: 1.9;

    --size-xxl: 2.4rem;
    --size-xl: 1.8rem;
    --size-lg: 1.5rem;
    --size-md: 1.2rem;
    --size-sm: 0.95rem;

    --heading-1: var(--fw-extrabold) var(--size-xxl) / var(--lh-sm) var(--sans);
    --heading-2: var(--fw-semibold) var(--size-xl) / var(--lh-sm) var(--sans);
    --heading-3: var(--fw-bold) var(--size-lg) / var(--lh-sm) var(--sans);
    --body: var(--fw-regular) var(--size-md) / var(--lh-md) var(--sans);
    --code: var(--fw-regular) var(--size-sm) / var(--lh-md) var(--mono);
    --small: var(--fw-regular) var(--size-sm) / var(--lh-md) var(--sans);
  }

  body {
    background-color: var(--color-bg);
    min-height: 100svh;
    font: var(--body);
    color: var(--color-text);
    margin: 0;
    padding-block: 0 6ex;
    padding-inline: var(--padding-inline);

    > *:is(main, header, footer) {
      max-width: var(--max-width);
      margin-inline: auto;
    }

    > header:first-of-type {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      padding: 0;
      padding-block: 1rem;
      margin-block-end: 2rem;
      border-block-end: var(--border);

      p {
        margin: 0;
      }
    }
  }

  *:focus-visible {
    outline: 4px solid currentColor;
    outline-offset: 0.5ch;
  }

  img,
  textarea,
  table {
    max-width: 100%;
  }

  details {
    --padding: 1ch;
    border: var(--border);
    padding: var(--padding);

    summary {
      cursor: pointer;
      background-color: var(--color-bg-surface);
      padding: var(--padding);
      margin: calc(var(--padding) * -1);

      + * {
        margin-block-start: calc(var(--padding) * 2);
      }
    }
  }

  table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 100%;
  }

  td,
  th {
    border: var(--border);
    padding: 0.5ex 1ch;
  }

  th {
    background-color: var(--color-bg-surface);
    text-align: start;
  }

  section {
    margin-block-end: 10ex;
  }

  dt {
    font-weight: var(--fw-bold);
  }

  dd {
    margin-block-end: 3ex;

    + dd {
      margin-block-start: -3ex;
    }
  }

  button {
    min-width: 44px;
    min-height: 44px;
    background-color: var(--color-bg-surface);
    padding: 0.5ex 1.5ch;
    cursor: pointer;
    box-shadow: var(--box-shadow-inset);
    border: var(--border);
    border-width: 2px;
    border-radius: 4px;
    transition: box-shadow 0.3s ease-in-out;
    font: var(--small);
    font-weight: var(--fw-medium);

    &:hover {
      --box-shadow-inset: inset 0Q 0Q 20Q 2Q var(--color-border);
    }
  }

  dialog {
    --padding-inline: 2rem;

    height: 100dvh;
    max-height: 800px;
    max-width: 800px;
    padding: 0;
    background-color: var(--color-bg);
    outline: var(--outline);
    outline-width: 2px;
    border: 0;
    box-sizing: border-box;

    &::backdrop {
      background-color: lch(from var(--color-bg) l c h / 0.7);
      backdrop-filter: var(--filter-overlay);
    }

    > header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      padding-inline: var(--padding-inline);
      padding-block: 1rem;
      background-color: var(--color-bg);
      top: 0;
      position: sticky;
      outline: var(--outline);
      outline-width: 2px;

      h1 {
        margin-block: 0;
        font: var(--body);
        font-weight: var(--fw-bold);
      }
    }

    > div {
      padding-inline: var(--padding-inline);
      padding-block: 2rem 4rem;

      > *:first-child {
        margin-block-start: 0;
      }

      > *:last-child {
        margin-block-end: 0;
      }
    }
  }
}
