form {
  margin-block: 2rem;

  fieldset {
    border-radius: var(--border-radius-interactive);
    padding-inline: 2rem;
    border: 1px solid hsl(from currentColor h s l / 0.2);
    background-color: hsl(
      from var(--color-background) h calc(s - 30) calc(l - 10) / 0.1
    );
    display: flex;
    flex-direction: column;

    legend {
      font-size: var(--body-size);
    }

    &[disabled] {
      color: var(--color-disabled);
    }
  }

  footer {
    display: flex;
    gap: 1rem;
    margin-block: 2rem;
  }
}

label,
legend {
  font-weight: 500;
}

label {
  font-size: var(--body-size);
  min-height: 44px;
  padding-block: 0.2rem;
  margin-block: 0.4rem;
  box-sizing: border-box;
  vertical-align: center;
  font-weight: 400;

  &:has(input:is([type="checkbox"], [type="radio"])) {
    cursor: pointer;
  }
}

button {
  border-radius: 3px;
  padding: 0.5rem 1rem;
  min-width: 44px;
  min-height: 44px;
  border: 2px solid var(--color-accent);
  background-color: hsl(from var(--color-accent) h s l / 0.1);
  color: var(--color-accent);
  font: var(--font-bold) var(--body-size);

  &:not([disabled]) {
    cursor: pointer;
  }

  &[type="submit"] {
    background-color: hsl(from var(--color-accent) h s l / 0.8);
    color: var(--color-background);
  }

  &:hover {
    transition: all 0.2s;
    background-color: var(--color-accent);
    color: var(--color-background);
  }
}

input {
  accent-color: var(--color-accent);
  box-sizing: border-box;
  padding: 0.4rem;
  font-size: 1rem;
  background-color: hsl(
    from var(--color-background) h calc(s - 30) calc(l - 10) / 0.3
  );
  border: 1px solid hsl(from currentColor h s l / 0.5);
  margin-block-start: 0.4rem;

  &:not([type="checkbox"], [type="radio"]) {
    min-height: 44px;
    display: block;
  }

  &[type="tel"] {
    max-width: calc(8ch + 44px); /* Lengden på et mobilnummer + litt space */
  }

  &[type="password"] {
    max-width: calc(30ch + 44px);
  }

  &[type="email"] {
    max-width: calc(50ch + 44px);
  }

  &[type="file"] {
    border: 0;
    background-color: initial;
  }
}

[disabled],
[disabled]:hover {
  background-color: transparent;
  color: hsl(from var(--color-text) h s l / 0.4);
  border: 2px dashed hsl(from var(--color-text) h s l / 0.4);
}
