form {
  margin-block: 2rem;
  container-type: inline-size;
  padding-inline: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  border: 1px solid hsl(from currentColor h s l / 0.2);
  background-color: var(--color-background-overlay);
  display: flex;
  flex-direction: column;

  footer {
    display: grid;
    gap: 1rem;
    margin-block: 2rem;

    @container (min-width: 600px) {
      grid-template-columns: 1fr 1fr;
    }
  }
}

fieldset {
  padding-inline: clamp(1rem, 0.6479rem + 1.5023vw, 2rem);
  border: 1px solid hsl(from currentColor h s l / 0.2);
  background-color: var(--color-background-overlay);
  margin-block: 1rem;
  display: flex;
  flex-direction: column;

  label:first-of-type {
    margin-block-start: 0;
  }
}

legend {
  font-size: var(--heading-3-size);
  padding-inline: 0;
  font-family: var(--font-family-headings);
  margin-block: 1rem;
}

label {
  margin-block-start: 1rem;
}

input {
  accent-color: var(--color-accent);
  box-sizing: border-box;
  font-size: var(--font-body-size);
  background-color: hsl(
    from var(--color-background) h calc(s - 30) calc(l - 10) / 0.3
  );
  border: 1px solid hsl(from currentColor h s l / 0.5);
  width: 100%;

  &:not([type="checkbox"], [type="radio"]) {
    min-height: 44px;
    margin-block-end: 1rem;
  }

  &:is([type="radio"], [type="checkbox"]) {
    width: auto;
    margin-inline-end: 0.5ch;
  }

  &:is([type="tel"], [type="number"]) {
    font-family: var(--font-mono);
    font-variant: tabular-nums;
  }

  &[type="tel"] {
    max-width: calc(8ch + 44px); /* Lengden på et mobilnummer + litt space */
  }

  &[type="password"] {
    max-width: calc(20ch + 44px);
  }

  &[type="email"] {
    max-width: calc(20ch + 44px);
  }
}

[disabled] {
  background-color: transparent;
  border: 1px dashed hsl(from var(--color-text) h s l / 0.4);
}
