html,
body {
  background-color: var(--color-background);
}

body {
  padding-block-end: 4rem;
  margin: 0;
  font: var(--text-body);
  color: var(--color-text);
  container-type: inline-size;

  > header {
    padding-block: 2rem;
    margin-block-end: 2rem;
  }
}

main,
header,
footer {
  max-width: var(--site-max-width);
  padding-inline: var(--site-padding-inline);
  margin-inline: auto;
}

article {
  max-width: var(--site-content-width);
  container-type: inline-size;
}

div {
  container-type: inherit;
}

hgroup {
  margin-block-end: 3rem;

  &:has(a:where([href*="index"], [href*="../"])) {
    h1 {
      margin-block-start: 1ex;
    }
  }
}

details {
  padding: 1rem;
  border: 1px solid var(--color);
  border-radius: 4px;

  > summary {
    padding: 1rem;
    margin: -1rem;
    cursor: pointer;
  }

  &[open] summary {
    margin: -1rem -1rem 2rem;
    font-weight: var(--font-weight-bold);
  }
}

button {
  min-width: 44px;
  min-height: 44px;
  padding: 0.3ex 2ex;
  font: var(--text-body);
  font-family: var(--font-sans-serif);
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--color);
  border-radius: var(--border-radius);

  &[type="submit"] {
    background-color: color-mix(
      in oklch,
      var(--color) 20%,
      var(--color-background)
    );
  }

  &[type="reset"] {
    max-width: max-content;
    background-color: unset;
    border: unset;
  }

  &:not([disabled]):hover {
    background-color: color-mix(
      in oklch,
      var(--color) 40%,
      var(--color-background)
    );
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

dl {
  margin: 5ex 0;
  counter-reset: terms;

  dd,
  dt {
    padding: 0;
    margin: 0;
  }

  dt {
    margin-block: 5ex 1ex;
    counter-reset: definitions;
    counter-increment: terms;

    &::before {
      content: counter(terms) " ";
    }

    &:not(:first-of-type) {
      padding-block-start: 2.5ex;
      margin-block-start: 2.5ex;
      border-block-start: 1px solid currentcolor;
    }
  }

  dd {
    margin-block-start: 2ex;
    counter-increment: definitions;

    &::before {
      display: block;
      font: var(--font-small);
      content: counter(terms) "." counter(definitions);
    }
  }

  @container (min-width: 66ch) {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    gap: 3rem;
    align-items: start;

    dt {
      grid-column: 1 / 2;
      margin-block: 0;

      &:not(:first-of-type) {
        padding-block: 0;
        margin-block: 0;
        border-block-start: 0;
      }
    }

    dd {
      grid-column: 2 / 3;
      margin-block: 0;
    }
  }
}

figure {
  margin: 2rem 0 0;
}

table {
  width: 100%;
  text-align: start;
  border-collapse: collapse;
}

td,
th {
  padding: 1rem;
  background-color: color-mix(
    in oklch,
    var(--color) 5%,
    var(--color-background)
  );
  border: 1px solid var(--color);

  &:empty {
    background: transparent;
    border: 0;
  }
}

th {
  font-weight: bold;
  text-align: start;
  background-color: color-mix(
    in oklch,
    var(--color) 10%,
    var(--color-background)
  );

  &[scope="col"] {
    border-block-end: 1px solid var(--color);
    border-inline-start: 1px solid var(--color);
  }

  &[scope="row"] {
    border-block-start: 1px solid var(--color);
    border-inline-end: 1px solid var(--color);
  }
}
