html,
body {
  background-color: var(--color-background);
}

body {
  padding-block-end: 4rem;
  margin: 0;
  font: var(--text-body);
  color: var(--color-text);
  container-type: inline-size;

  > header {
    padding-block: 2rem;
    margin-block-end: 2rem;
  }
}

main,
header,
footer {
  max-width: var(--site-max-width);
  padding-inline: var(--site-padding-inline);
  margin-inline: auto;
}

article {
  max-width: calc(var(--site-content-width) + 12ch);
  container-type: inline-size;
}

div {
  container-type: inherit;
}

hgroup {
  margin-block-end: 3rem;

  &:has(a:where([href*="index"], [href*="../"])) {
    h1 {
      margin-block-start: 1ex;
    }
  }
}

details {
  border-block: 1px solid var(--color);
  margin-block: 2rem;
  background-color: var(--color-surface);
  padding: 1ch 2ch;

  > summary {
    cursor: pointer;
    font-size: x-large;

    &::marker {
      font: var(--text-icon);
      content: "unfold_more";
      font-size: large;
    }
  }

  &[open] {
    summary {
      font-weight: var(--font-weight-bold);

      &::marker {
        content: "unfold_less";
      }
    }
  }

  & > *:nth-child(2) {
    margin-block-start: 2ch;
  }

  & > *:last-child {
    margin-block-end: 6ch;
  }
}

button {
  display: flex;
  gap: 0.6ch;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
  padding: 0.3ex 2ex;
  font: var(--text-body);
  font-family: var(--font-sans-serif);
  background-color: color-mix(in oklch, var(--color) 40%, transparent);
  border: 2px solid var(--color);
  border-radius: 5px;
  cursor: pointer;

  &[type="reset"] {
    max-width: max-content;
    background-color: unset;
    border: unset;
  }

  &[popovertarget] {
    &::before {
      font: var(--text-icon);
      content: "wysiwyg";
    }
  }

  &[popovertargetaction="hide"] {
    &::before {
      content: "close";
      font: var(--text-icon);
    }
  }

  &:not([disabled]):hover {
    background-color: var(--color);
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

dl {
  margin: 5ex 0;
  counter-reset: terms;

  dd,
  dt {
    padding: 0;
    margin: 0;
  }

  dt {
    margin-block: 5ex 1ex;
    counter-reset: definitions;
    counter-increment: terms;
    font: var(--text-heading-3);

    &::before {
      content: counter(terms) " ";
    }

    &:not(:first-of-type) {
      padding-block-start: 2.5ex;
      margin-block-start: 2.5ex;
      border-block-start: 1px solid currentcolor;
    }
  }

  dd {
    margin-block-start: 2ex;
    counter-increment: definitions;

    &::before {
      display: block;
      font: var(--font-small);
      content: counter(terms) "." counter(definitions);
    }
  }

  @container (min-width: 66ch) {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 1fr;
    gap: 3rem;
    align-items: start;

    dt {
      grid-column: 1 / 2;
      margin-block: 0;

      &:not(:first-of-type) {
        padding-block: 0;
        margin-block: 0;
        border-block-start: 0;
      }
    }

    dd {
      grid-column: 2 / 3;
      margin-block: 0;
    }
  }
}

figure {
  margin: 2rem 0 0;
}

table {
  width: 100%;
  text-align: start;
  border-collapse: collapse;
}

td,
th {
  padding: 1rem;
  background-color: color-mix(
    in oklch,
    var(--color) 5%,
    var(--color-background)
  );
  border: 1px solid var(--color);

  &:empty {
    background: transparent;
    border: 0;
  }
}

th {
  font-weight: bold;
  text-align: start;
  background-color: color-mix(
    in oklch,
    var(--color) 10%,
    var(--color-background)
  );

  &[scope="col"] {
    border-block-end: 1px solid var(--color);
    border-inline-start: 1px solid var(--color);
  }

  &[scope="row"] {
    border-block-start: 1px solid var(--color);
    border-inline-end: 1px solid var(--color);
  }
}

dialog {
  --padding: 2ch;

  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  max-width: 88ch;
  padding: var(--padding);
  border: 12px solid var(--color-surface);

  &::backdrop {
    backdrop-filter: var(--blur-100);
  }

  header {
    display: grid;
    grid-template-columns: 1fr min-content;
    align-items: center;
    gap: 4rem;
    padding: var(--padding);
    margin: calc(-1 * var(--padding));
    background: var(--color-surface);
    position: sticky;
    top: calc(-1 * var(--padding));

    h1 {
      font: var(--text-heading-3);
      margin: 0;
    }

    + * {
      margin-block-start: calc(var(--padding) + 2ex);
    }
  }

  > :last-child {
    margin-block-end: 6ex;
  }

  @media (min-width: 88ch) {
    max-height: 80vh;

    header {
      h1 {
        font: var(--text-heading-2);
      }
    }
  }
}
