.visuelt-skjult {
  border: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: polygon(0 0, 0 0, 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;

  @container (min-width: 720px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}
