table {
  border-collapse: collapse;
  width: 100%;
  text-align: start;

  td,
  th {
    padding: 1rem;
  }

  th:not(:empty),
  td:not(:empty) {
    border: 1px solid var(--color-border);
  }

  th {
    font-weight: var(--font-weight-regular);
    background-color: hsl(from var(--color-accent) h s l / 0.05);
    text-align: start;

    &[scope="col"] {
      border-block-end: 1px solid currentColor;
      border-inline-start: 1px solid var(--color-border);
    }

    &[scope="row"] {
      border-inline-end: 1px solid currentColor;
      border-block-start: 1px solid var(--color-border);
    }
  }
}
