p,
li {
  max-width: 66ch;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  max-width: 40ch;
  color: lch(from currentcolor l 40 h);
}

h1 {
  margin-block-end: 1ex;
  font: var(--text-heading-1);
  font-variation-settings: "wght" 800;
}

h2 {
  margin-block: 6ex 1ex;
  font: var(--text-heading-2);
  font-variation-settings: "wdth" 90.5, "wght" 700;

  &:has(a) {
    margin-block-end: 1rem;
  }
}

h3 {
  margin-block: 4ex 1ex;
  font: var(--text-heading-3);
  font-variation-settings: "wdth" 80.5, "wght" 650;
}

p {
  margin: 0;

  &:not(:last-child) {
    margin-block: 1ex 3ex;
  }

  + ul {
    margin-block-start: -2ex;
  }
}

small {
  color: var(--color-text-muted);
}

img {
  margin-block: 1ex 3ex;

  + caption,
  + figcaption {
    margin-block-start: -2ex;
  }
}

a,
abbr {
  text-underline-offset: 0.4ex;
  text-decoration-thickness: 0.2ex;
  text-decoration-color: currentColor;
}

a {
  color: currentcolor;
  text-decoration-style: solid;

  &:hover {
    text-decoration-thickness: 0.4ex;
  }

  &[hreflang="en"] {
    &::after {
      content: " (side på engelsk)";
    }
  }

  &:not(.name) {
    &:where([href*="index"], [href*="../"]) {
      &::before {
        content: "arrow_back" / "";
        font: var(--text-icon);
      }
    }
  }
}

abbr {
  cursor: help;
}

b,
strong {
  font-variation-settings: "wght" 575;
}

mark {
  background-color: lch(from var(--color-surface) l 100 h);
  color: inherit;
  padding-inline: 0.1rem;
}

q {
  font-style: italic;
}

ul,
ol {
  li {
    margin-block-end: 1ex;
  }
}

pre,
code {
  font: var(--text-code);
  background-color: color-mix(
    in oklch,
    var(--green) 50%,
    var(--color-background)
  );
}

pre {
  border: 1px solid var(--green);
  padding: 1ch;
  overflow-x: auto;
}

code {
  padding: 0.1rem;
  font-weight: inherit;
  font-size: inherit;
}
