:root {
  color-scheme: light dark;

  --color-light-background: hsl(48, 71%, 93%);
  --color-light-text: hsl(271, 100%, 9%);
  --color-light-accent: hsl(22, 100%, 79%);
  --color-dark-background: hsl(262, 85%, 5%);
  --color-dark-text: hsl(0, 100%, 95%);
  --color-dark-accent: hsl(237, 78%, 44%);

  --color-green: light-dark(hsl(135, 100%, 66%), hsl(135, 100%, 15%));
  --color-red: light-dark(hsl(0deg 100% 81.44%), hsl(0deg 100% 24%));

  --color-accent: light-dark(
    var(--color-light-accent),
    var(--color-dark-accent)
  );
  --color-text: light-dark(var(--color-light-text), var(--color-dark-text));
  --color-background: light-dark(
    var(--color-light-background),
    var(--color-dark-background)
  );
  --color-background-overlay: hsl(
    from var(--color-background) h calc(s - 30) calc(l - 10) / 0.1
  );

  --color-border: light-dark(
    hsl(from var(--color-accent) h calc(s + 30) calc(l - 20) / 0.5),
    hsl(from var(--color-accent) h calc(s - 40) calc(l + 30) / 0.8)
  );

  --heading-1-size: clamp(1.5rem, 0.9718rem + 2.2535vw, 3rem);
  --heading-2-size: clamp(1.4rem, 1.1887rem + 0.9014vw, 2rem);
  --heading-3-size: clamp(1.3rem, 1.1592rem + 0.6009vw, 1.4rem);
  --body-size: clamp(1rem, 0.625rem + 1.25vw, 1.188rem);
  --small-size: 0.9rem;

  --border-radius-interactive: 4px;
  --border-radius-decoration: 2px;

  --font-sans: "Inter", sans-serif;
  --font-serif: "Wittgenstein", serif;
  --font-mono: "Ubuntu Sans Mono", monospace;

  --font-family-headings: var(--font-serif);
  --font-family-body: var(--font-sans);

  --font-weight-regular: 400;
  --font-weight-bold: 570;
  --font-weight-black: 800;
}
